body{
    background-color: black;
}
h1{
    color: white;
}
/* #p1{
    color: red;
}
#p2{
    color: green;
}
#p3{
    color: blue;
}
#p4{
    color: yellow;
} */
.even{
    color: aliceblue;
}
.odd{
    color: aqua;
}